* {
    font-family: "Englebert", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('/1/BG.png') no-repeat center center fixed; 
    background-size: cover;
    background-color: rgb(135, 203, 135);
    color: white;
    min-height: 100vh;

}

header {
    height: 100px;
    background-color: rgb(106, 153, 106);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {

    margin-top: 50px;
    margin-left: 30px;
}

.navbar {
    background-color: rgb(106, 153, 106);
    font-size: larger;
    display: flex;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar a:hover {
    background-color: rgb(69, 101, 76);
}

main {
    margin-left: 400px;
    padding: 20px;
    text-align: center;
    font-size: larger;
    justify-self: center;
    color: white;
    line-height: 40px;
    inline-size: 700px;
}

.image1, .image2 {
    list-style-type: none;
    position: relative;
    margin: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image1 .image__title{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 529px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image1:hover .image__title {
    opacity: 1;
}
.image1 .image__title a{
color: white;
text-decoration: none;
}

.image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image2 .image__title2{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 472px;
    width: 700px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image2:hover .image__title2 {
    opacity: 1;
}
.image2 .image__title2 a{
    color: white;
    text-decoration: none;
    }

.right {
    float: right;
    inline-size: 600px;
    line-height: 20px;
    box-sizing: border-box;
    margin-right: 70px;
    margin-top: 20px;
}
.right2 {
    float: right;
    inline-size: 600px;
    line-height: 20px;
    box-sizing: border-box;
    margin-right: 70px;
    margin-top: 20px;
}
